html, body{
  height:100vh;
  background-color:grey;
  display:flex;
  flex-direction: column;
}

body{
  display:flex;
  align-items: center;
}

button {
  margin: 10px;
  width:50px;
  height: 40px;
  border-radius: 0px;
  border: none;
  background:none;
  color: white;
  font-family: roboto;
  font-size:20px;
}

button:hover {
  cursor:pointer;
}

/*
const current = this.state.current;
      console.log(("current --->" + current));
      console.log(("value --->",value));
      console.log(("total value --->",current + value));
*/